# ===============================================
# Frontend Configuration
# ===============================================
VITE_API_URL=/api

# ===============================================
# MongoDB Atlas URIs (Production DBs)
# Note: Format -> mongodb+srv://<USER>:<PASS>@<CLUSTER>/<DB_NAME>?retryWrites=true&w=majority
# ===============================================

MONGODB_URI_USER=mongodb+srv://admin:examplePassword123@cluster0.abc.mongodb.net/user_db?retryWrites=true&w=majority
MONGODB_URI_PRODUCT=mongodb+srv://admin:examplePassword123@cluster0.abc.mongodb.net/product_db?retryWrites=true&w=majority
MONGODB_URI_ORDER=mongodb+srv://admin:examplePassword123@cluster0.abc.mongodb.net/order_db?retryWrites=true&w=majority
MONGODB_URI_PAYMENT=mongodb+srv://admin:examplePassword123@cluster0.abc.mongodb.net/payment_db?retryWrites=true&w=majority
MONGODB_URI_AUTH=mongodb+srv://admin:examplePassword123@cluster0.abc.mongodb.net/auth_db?retryWrites=true&w=majority

# ===============================================
# Redis Configuration (If using a remote Redis instead of Compose)
# ===============================================
REDIS_HOST=redis
REDIS_PORT=6379

# ===============================================
# Security and Tokens
# ===============================================
JWT_SECRET=super_secret_jwt_key_to_be_replaced_in_production
